<div class="row">
    <div class="col col-12 col-sm-4"></div>
    <div class="col col-12 col-sm-4">
        <form action="">
            <table class="table table-borderless">
                <tr>
                    <th colspan="2" style="text-align: center">Product Search</th>
                </tr>
                <tr>
                    <td>Product Name</td>
                    <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><Button type="button" class="form-control btn btn-primary">Search</Button></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="col col-12 col-sm-4"></div>
</div>
    
