<div class="row">
    <div class="col col-12 col-sm-3"></div>
    <div class="col col-12 col-sm-6">
        <form action="">
            <table class="table table-borderless">
                <tr>
                    <th colspan="2" style="text-align: center">Product Entry</th>
                </tr>
                <tr>
                    <td>Product ID</td>
                    <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>Product Name</td>
                    <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>Product Description</td>
                    <td><textarea cols="45" rows="5" class="from-control"></textarea></td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td><input type="number" class="form-control"></td>
                </tr>
                <tr>
                    <td>Dealer</td>
                    <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>Availability</td>
                    <td>
                        <select class="form-control">
                            <option value="Available">Available</option>
                            <option value="Not Available">Not Available</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><Button type="button" class="form-control btn btn-success">Submit</Button></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="col col-12 col-sm-3"></div>
</div>
