<div class="row">
    <div class="col col-12 col-sm-4"></div>
    <div class="col col-12 col-sm-4">
        <form action=""></form>
        <table class="table table-borderless">
            <thead>
                <th colspan="2"><h3 style="text-align: center">Add Course</h3></th>
            </thead>
            <tbody>
                <tr>
                    <td>Course Title</td>
                    <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>Course Description</td>
                    <td><textarea cols="30" rows="10" class="form-control"></textarea></td>
                </tr>
                <tr>
                    <td>Course Duration</td>
                    <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>Venu</td>
                    <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td><input type="date" class="form-control"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><Button type="button" class="btn btn-success">Submit</Button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col col-12 col-sm-4"></div>
</div>
