<div class="row">
    <div class="col col-12 col-sm-1"></div>
    <div class="col col-12 col-sm-10">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis perspiciatis voluptas quo eligendi? Velit totam necessitatibus aliquid repellendus neque id hic labore, cumque repellat eligendi officiis sint laboriosam dolorum non.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis eveniet minus architecto soluta atque, cumque fuga quasi officia, officiis facere neque molestiae quod, fugiat iure ex maiores ullam velit sunt.</p>
    </div>
    <div class="col col-12 col-sm-1"></div>
</div>
