<div class="row">
    <!-- <div class="col col-12 col-sm-3"></div>
    <div class="col col-12 col-sm-6">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quia sint alias voluptates molestiae quam dolorum? Optio nobis corrupti placeat quia nemo, ullam hic laboriosam! Ex ipsum corporis sapiente consequuntur.</p>
    </div>
    <div class="col col-12 col-sm-3"></div> -->
    <div class="col col-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia accusamus tempore ipsa facilis nulla, aperiam velit! Unde perspiciatis ratione, sunt minus alias ipsum obcaecati, hic dicta, ea esse impedit facilis.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, sunt voluptas dolor perferendis, repellendus enim officiis doloribus eaque consectetur praesentium inventore libero vel distinctio ex! Libero atque deserunt aliquam sed?</p>
    </div>
</div>
